{{ define "main" }}
<div class="w-full max-w-[800px] m-auto">
    <div class="responsive-iframe-container">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FChicago&bgcolor=%23f6f8f5&showTitle=0&showPrint=0&showTabs=0&src=M2UxYzFhOTVjMDk0YWZkNGI4NjA3Mjg3YTRiNGFlZWVmNjc1N2M2YjNhODI2OGM0Mzg1MTBkYjI4M2I1M2Q1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no" position="relative"></iframe>
    </div>
</div>
{{ end }}
