<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height: 90%;
            width: 100vw;
        }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body class="bg-light-green text-green">
    <div id="map"></div>

    <audio controls controlslist="nodownload nofullscreen noremoteplayback" preload="metadata"></audio>
    
    {{ partial "footer.html" . }}
</body>

<script>
    const markers = [
        {
            id: 1,
            latlng: [41.954109575203695, -87.79675134426988],
            popup: "Nesewin",
            src: "markers/1/audio.mp3",
            metadata: {
                title: 'Nesewin - How to Breathe Underwater',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/1/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 2,
            latlng: [41.953722, -87.796806],
            popup: "Time travel to the future",
            src: "markers/2/audio.mp3",
            metadata: {
                title: 'Time travel to the future',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/2/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 3,
            latlng: [41.952917, -87.797583],
            popup: "Going with the flow",
            src: "markers/3/audio.mp3",
            metadata: {
                title: 'Going with the flow',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/3/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 4,
            latlng: [41.952972, -87.800167],
            popup: "The community saves a treasure",
            src: "markers/4/audio.mp3",
            metadata: {
                title: 'The community saves a treasure',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/4/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 5,
            latlng: [41.953306, -87.801472],
            popup: "Many hands, but still heavy work",
            src: "markers/5/audio.mp3",
            metadata: {
                title: 'Many hands, but still heavy work',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/5/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 7,
            latlng: [41.953972, -87.802056],
            popup: "Giving back",
            src: "markers/7/audio.mp3",
            metadata: {
                title: 'Giving back',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/7/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        },
        {
            id: 8,
            latlng: [41.954111, -87.801472],
            popup: "Time travel to the distant past",
            src: "markers/8/audio.mp3",
            metadata: {
                title: 'Time travel to the distant past',
                artist: 'Dunning Read Natural Area',
                artwork: [
                    {
                        src: 'markers/8/landscape.png',
                        type: 'image/png'
                    },
                ]
            }
        }
    ]

    const player = document.querySelector('audio');

    function play(id) {
        const currentMedia = markers.find((o) => o.id == id)

        player.src = currentMedia.src
        player.play()

        if ('mediaSession' in navigator) {
            navigator.mediaSession.metadata = new MediaMetadata(currentMedia.metadata);

            navigator.mediaSession.setActionHandler('play', () => player.play());
            navigator.mediaSession.setActionHandler('pause', () => player.pause());

            player.onplaying = function () {
                if (player.duration == Infinity) {
                    return
                }

                const positionState = {
                    duration: player.duration,
                    playbackRate: player.playbackRate,
                    position: player.currentTime,
                }

                console.log(positionState)
                navigator.mediaSession.setPositionState(positionState)
            };
        }
    }
</script>

<script lang="js">
    var map = L
        .map('map')
        .fitBounds([
            [41.95271943361891, -87.80488357748983],
            [41.95507151895336, -87.7960094796896]
        ])

    L.tileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }
    )
    .addTo(map);

    markers.forEach(item => {
        L.marker(item.latlng)
            .addTo(map)
            .bindPopup(item.popup)
            .on('click', (e) => play(item.id))
    });

    map.on('locationfound', (e) => {
        var radius = e.accuracy;
        var radiusft = Number(radius * 3.28084).toFixed(0);

        var myIcon = L.divIcon({
            className: 'fa fa-solid fa-location-dot fa-2xl',
            iconSize: [20, 20],
        });

        L.marker(e.latlng, { icon: myIcon }).addTo(map).bindPopup("You are within " + radiusft + " ft.");

        L.circle(e.latlng, radius).addTo(map);
    });

    map.locate({watch: true});
</script>

</html>