<div class="relative w-full mx-auto text-white flex" style="text-shadow: rgb(0, 0, 0) 0px 0px 21px;">
    {{ with or (.Resources.Get "masthead.jpg") (resources.Get "images/masthead.jpg") }}
    <img class="w-full object-cover h-48 md:h-80 brightness-75" alt="" src="{{ .RelPermalink }}">
    {{- end }}

    {{ $image := resources.Get "images/drna-logo-round.png" }}
    {{ $image := $image.Resize "200x200" }}
    <img class="absolute top-5 left-5 flex w-[50px] h-[50px] md:w-[100px] md:h-[100px]"
            alt="Logo for Dunning Read Natural Area Park Advisory Council, featuring silhouettes of a family, bird, butterfly, and flowers within a green circular design"
            src="{{ $image.RelPermalink }}" />

    <div class="absolute inset-0 flex items-center justify-center uppercase text-center text-2xl sm:text-4xl lg:text-6xl">
        <h1 class="grow">{{ .Title }}<br><span class="capitalize text-xl sm:text-2xl lg:text-4xl">{{ .Param "subtitle" }}</span> </h1>
    </div>
    {{ partial "menu.html" (dict "page" .) }}
</div>